
#table_users {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
}

table {
  width: 100%;
  border: 1px solid #d16ba5;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #d16ba5;
}

th {
  background-color: #d16ba5;
  color: white;
}

tr:hover {
  background-color: #ffb6c1;
}

h2{
 text-align: center;
 color: #d16ba5;
 margin-bottom: 20px;
}
